html, body{
  font-size: 17px;
  margin: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 0 !important;
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */
}
div > div.input-field.col.s5 > select {
  padding: 0 1rem !important;
}
#field2 > div:nth-child(4) > div:nth-child(1) > div > div.VuePassword__Input > a > svg {
  margin-top: -2rem;
}
#nextBtn, .nextBtn {
  margin-top: 1rem;
}
.calender-div {
  background-color: #2196f3;
  z-index: 50;
}
#id01 > div > div > div > div > form > div:nth-child(3) > div:nth-child(1) > div > div > div > div.time-picker > div.hour-selector > div.scroll-hider > ul {
  height: 185px;
}

.btn-small {
  padding: 0.3rem !important;
  border-radius: 3px !important;
  background-color: #2196f3;
  color: #fff;
}
.x06{
  font-size: 0.6rem;
}
.x1{
  font-size: 1rem;
}
.x15{
font-size: 1.5rem;
}
.x2{
  font-size: 2rem;
}
.x25{
  font-size: 2.5rem;
}
.x3{
  font-size: 3rem;
}
.x35{
  font-size: 3.5rem;
}
/* access auth global styling */
#field2 div  i.icon.ion-eye-disabled {
  margin-left: 6rem !important;
  right: 4rem;
}
/* #field2 > div > div {
  margin: 2rem 0 !important;
} */
#side-nav > a{
  padding: 19px 16px;
  font-weight: 500 !important;
}
p.field {
  margin-right: auto;
  text-align: left;
}
div.patient-profile label.active, div.doctor-profile label.active, div.pharmacist-profile label.active, div.medicallabscientist-profile label.active {
  color: #fff !important;
}