

/* tablet device */
@media only screen and (max-width: 900px) {
  html, body{
    font-size: 14px;
    margin: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }
  #index > div.main.flow-text.wrapper > div.header.center.animated.lightSpeedIn > p{
    font-size: 2rem;
  }
  #nav-mobile{
    font-size: 10px ;
    padding: 0rem 0rem;
  }
  nav div.nav-wrapper {
    margin: 0 0rem !important;
}

  /* signin page */
  #index > div.main.flow-text.wrapper > div.content.center-align.white-text > div > div {
    width: 68%;
  }

  /* patient index */

}



/* mobile device */

@media only screen and (max-width: 600px) {
  #slide-out > a > i {
    height: 0px;
    line-height: 0px;
    margin-left: 150%;
  }
  /* signin page */
  #index > div.main.flow-text.wrapper > div.content.center-align.white-text > div > div {
    width: 98%;
  }

  /* index nav */
  nav div.nav-wrapper {
    margin: 0 0rem !important;
  }
  #mobileNav > li {
    width: 155px !important;
  }
  #mobileNav {
    width: 40% !important;
  }

  /* patient dashboard */
  #app > div > div > div:nth-child(3) {
    margin-left: 0% !important;
  }
  i.icon.ion-search.x15 {
    font-size: 1.9rem;
  }
  div.view-doc div.col.s12.m8.offset-m2 {
    padding: 1.5rem 1.7rem;
    border: 0px solid transparent !important;
    background-color: inherit !important;
    border-radius: 0px !important;
}
  form.search-doctor i.icon.ion-search.x15 {
    left: 12.4rem !important;
    font-weight: 100 !important;
    font-size: 1.89rem;
    top: -0.9rem !important;
  }
  #app > div > div > div.header-view > nav > div > div.row.consult-doctor.left > form > div {
    margin-left: 1rem;
  }
  #sideMenu > i {
    margin-left: -4.5rem;
  }
  #slide-out-mobile > div > div {
    padding: 1.5rem;
  }
  #slide-out-mobile > div > li {
    padding: 0.5rem;
    /* background-color: grey; */
  }
  #slide-out-mobile > div > li a:hover, #slide-out-mobile > div > li a:active, #slide-out-mobile > div > li a:focus {
    background-color: grey;
  }
  #id01 > div {
    width: 100% !important
  }
  div.patient-carts div.carts > span {
    margin-left: 29% !important;
  }
  #app  div.update-profile-data > div {
    background-color: transparent !important;
  }
  #app > div > div > div.main-interface > div:nth-child(3), #app > div > div > div.main-interface > div:nth-child(3), div.main-interface #majorContent {
    margin-left: 0% !important;
  }
  div.majorContent, div#majorContent {
    margin-left: 0% !important;
}
}

@media only screen and (max-width: 470px) {
  #slide-out {
    /* margin: auto 45%; */
  }
  div.majorContent, div#majorContent {
    /* margin-left: 0% !important; */
  }
}

@media only screen and (min-width: 992px) {
  #nav-mobile a.btn {
    font-size: 0.7rem !important;
  }
}


/* desktop device */
